<div class="userChangeData__rows">
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Старый пароль"}}</div>
        {{>Input class="userChangeData__input" placeholder="pochta@yandex.ru" type = 'password'}}  
    </div>
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Новый пароль"}}</div>
        {{>Input class="userChangeData__input" placeholder="ivanivanov" type = 'password'}}  
    </div>
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Повторите новый пароль"}}</div>
        {{>Input class="userChangeData__input" placeholder="Иван" type = 'password'}}  
    </div>
</div>