.auth__fromBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__header{
        margin-top: 50px;
    }
    &__input{
        
    }
}