<form class="auth__fromBlock">
    {{>H1 class='form-header'label='Вход'}}
    {{>LoginFields}}
    {{>Button class='button_primary auth__button'id='enter' label='Войти' type='submit'}}
    {{>Link href='#' class='auth__link' text='Зарегистрироваться'}}
</form>