<div class="auth__fromBlock">
    {{>H1 class='form-header'label='Вход'}}
    {{>LoginFields}}
    {{>Button class='button auth__button'id='enter' label='Войти'}}
    {{>Link href='#' class='auth__link' text='Зарегистрироваться'}}
</div>