.dialog{
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EAEAEA;
    height: 70px;
    &__block{
        display: flex;
        align-items: center;
        gap: 10px;
        &--header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}