.avatar {
  border: none;          /* убираем рамку кнопки */
  padding: 0;            /* убираем внутренние отступы */
  background: none;      /* убираем фон */
  border-radius: 50%;    /* круглая форма */
  overflow: hidden;      /* обрезает картинку по кругу */
  cursor: pointer;       /* курсор как у ссылки */
}


.avatar img {
  display: block;        /* убираем лишние отступы картинки */
  width: 130px;          /* подгоняем ширину */
  height: 130px;         /* подгоняем высоту */
  object-fit: cover;     /* картинка не тянется, а обрезается */
}