.avatar {
  border: none;
  padding: 0;
  background: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;   
  width: 130px;
  height: 130px;
  margin: auto;
}


.avatar img {
  display: block;
  width: 130px;
  height: 130px;
  object-fit: cover;
}