<button class="avatar" type="file">
    <img src="/src/assets/change_avatar.png" alt="User avatar" class="avatar__img avatar__img--change"/>
    <img src="/src/assets/1648314277_5-kartinkof-club-p-yao-min-mem-5.png" alt="User avatar" class="avatar__img"/>
</button>
