h2{
    font-weight: 500;
}

.page404__header2{
    margin: 0;
    font-size: 20px;
}

.page500__header2{
    margin: 0;
    font-size: 20px;
}

.dialog__dialogName{
    font-size: 13px;
    color: #1E1E1E;
    margin: 0;
}
