h2{
    font-weight: 500;
}
.page404_2header{
    margin: 0px;
    font-size: 20px;
}
.page500_2header{
    margin: 0px;
    font-size: 20px;
}
.dialog__dialogName{
    font-size: 13px;
    color: #1E1E1E;
    margin: 0;
}