.auth{  
    &__inputGroup{
        display:flex;
        flex-direction: column;
            &:focus-within label {
            visibility: visible; 
            }
    }
    &__header{
        margin: 0;
        margin-top: 41px;
    }
    &__inputs{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__button{
        margin-top: 170px;
    }
    &__link{
        margin-top: 10px;
    }
}