.dialog{
    &__lastMessageTime{
        font-size: 9px;
        color: #999999;
        display: block;
    }
    &__textMessage{
        font-size: 12px;
        color: #999999;
        line-height: 0.8;
    }
}

.chats__messages--userName{
    margin-left: 10px;
    font-size: 13px;
    color: #1E1E1E;
}




