.dialog{
    &__lastMessageTime{
        font-size: 9px;
        color: #999999;
        display: block;
    }
    &__textMessage{
        font-size: 12px;
        color: #999999;
    }
}
    /* Миллионы россиян ежедневно проводят десятки часов свое... */





