.searchDilog{
    display: flex;
    flex-direction: column;
    background-color:#E4EDFD;
    border-radius: 5px;
    padding: 10px;
    span{
        font-size: 13px;
        margin-bottom: 10px;
    }
}

