.page500{
    flex-direction: column;
    &_header{
        margin: 0px;
        font-size: 40px;
    }
    &_2header{
        margin: 0px;
        font-size: 20px;
    }
    &_link{
        font-size: 11px;
        margin-top: 70px;
    }

}
