<div class="page page500">
    {{>H1 class='page500_header' label='500'}}
    {{>H2 class='page500_2header' label='Мы уже фиксим'}}
    {{>Link href="#" class='page500_link' text='Назад к чатам'}}
</div>