
<div class="form-inputs">
    <div class="form-inputGroup">
        {{> Label class='label' label='Логин' for='login'}}
        {{> Input class='input' placeholder='Логин' id='login' type='text' name='login'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label' label='Пароль'  for='password'}}
        {{> Input class='input' placeholder='Пароль' id='password' type='password' name='password'}}
    </div>
</div>


