<form class="reg__fromBlock">
    {{>H1 class='form-header' label='Регистрация'}}
    {{>RegFields}}
    {{>Button class='button_primary reg__button'id='enter' label='Войти' type='submit'}}
    {{>Link href='#' class='reg__link' text='Зарегистрироваться'}}
</form>
