<div class="reg__fromBlock">
    {{>H1 class='form-header' label='Регистрация'}}
    {{>RegFields}}
    {{>Button class='button reg__button'id='enter' label='Войти'}}
    {{>Link href='#' class='reg__link' text='Зарегистрироваться'}}
</div>