.reg{
    &__fromBlock{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
    }
    &__button{
        margin-top: 62px;
    }
    &__link{
        margin-top: 14px;
    }
}