.chats__messages{
    &--buttonMenu{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: none;
        background-color: #F5F5F5;
        cursor: pointer;
        padding: 0;
    }

    &--attachmentButton,
    &--sendButton{
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;

        & img{
            height: 100%;
            width: 100%;
        }        
    }
}

