.button_primary{
    width: 280px;
    height: 37px;
    background-color: #3369F3;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.auth__button{
    margin-top: 170px;
}
.reg__button{
    margin-top: 62px;
}
.userChangePassword__button{
    margin: auto;
    margin-top: 60px;
}
.userChangeData__button{
    margin: auto;
    margin-top: 60px;  
}
