.chats {
    &__fromBlock {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    &__mychats {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        margin: auto;
        margin-top: 10px;
    }

    &__chats {
        width: 310px;
        height: 100%;
        border-right: 2px solid #EAEAEA;
        background-color: #FBFBFB;
        padding: 20px 10px 0;
        display: flex;
        flex-direction: column;
    }

    &__messages {
        width: 100%;
        height: 100%;
        padding: 10px 20px 0;
        display: flex;
        flex-direction: column;

        &--header {
            display: flex;
            justify-content: space-between;
            height: 52px;
            border-bottom: 1px solid #EAEAEA;
        }

        &--headerMenu {
            display: flex;
            align-items: center;
            position: relative;
        }

        &--user {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &--chat {
            height: 100%;
            border-bottom: 1px solid #EAEAEA;
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column-reverse;
            gap: 10px;
        }

        &--actions {
            height: 54px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &-date {
            display: block;
            margin: 20px auto;
            font-size: 12px;
            color: #999;
        }
    }

    &__profile {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 20px;
    }

    &__search {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 12px;
        border-bottom: 1px solid #EAEAEA;

        &--icon {
            position: absolute;
            margin-right: 180px;
        }

        &:focus-within {
            .chats__search--icon {
                opacity: 0;
            }
        }
    }

    &__dialogs {
        display: flex;
        flex-direction: column;
    }
}

