<div class="userSettings__rows">
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Почта"}}</div>
        <div>{{>Span class="userSettings__data" text="pochta@yandex.ru"}}</div>    
    </div>
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Логин"}}</div>
        <div>{{>Span class="userSettings__data" text="ivanivanov"}}</div>    
    </div>
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Имя"}}</div>
        <div>{{>Span class="userSettings__data" text="Иван"}}</div>    
    </div>
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Фамилия"}}</div>
        <div>{{>Span class="userSettings__data" text="Иванов"}}</div>    
    </div>
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Имя в чате"}}</div>
        <div>{{>Span class="userSettings__data" text="Иван"}}</div>    
    </div>
    <div class="userSettings__row">
        <div>{{>Span class="userSettings__label" text="Телефон"}}</div>
        <div>{{>Span class="userSettings__data" text="+7 (909) 967 30 30"}}</div>    
    </div>
</div>
