h1{
    font-weight: 500;
}
.page404_header{
    margin: 0px;
    font-size: 40px;
}
.page500_header{
    margin: 0px;
    font-size: 40px;
}
.userSettings__header{
    margin: auto;
    font-size: 20px;
    margin-top: 24px;
}
.chats__header{
    margin-top: 50%;
}
