a{
    color: #3369F3;
    font-size: 13px;
    text-decoration: none;
}

.page404__link{
    font-size: 11px;
    margin-top: 70px;
    }

.page500__link{
    font-size: 11px;
    margin-top: 70px;
    }

.auth__link{
    margin-top: 14px;

}

.reg__link{
    margin-top: 14px;
}

.userSettings{
    &__link--red{
    color:#F00;
    }

    &__actionLinks{
        display: flex;
        flex-direction: column;
        gap: 10px;

        &--bottom{
            border-bottom: 1px solid #EAEAEA;
        }
    } 
}

.chats__profileLink{
    color: #999;
}
