<div class="form-inputs">
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Почта' for='email'}}
        {{> Input class='input' placeholder='Почта' id='email' name='email'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Логин'  for='login'}}
        {{> Input class='input' placeholder='Логин' id='login' type='text' name='login'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Имя'  for='name'}}
        {{> Input class='input' placeholder='Имя' id='name' type='text' name='first_name'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Фамилия'  for='second_name'}}
        {{> Input class='input' placeholder='Фамилия' id='second_name' type='text' name='second_name'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Телефон'  for='phone'}}
        {{> Input class='input' placeholder='Телефон' id='phone' type='tel' name='phone'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Пароль'  for='password'}}
        {{> Input class='input' placeholder='Пароль' id='password' type='password' name='password'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Пароль(еще раз)'  for='password-confirm'}}
        {{> Input class='input' placeholder='Пароль(еще раз)' id='password-confirm' type='password' name='password_confirm'}}
    </div>
</div>