<div class="form-inputs">
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Почта' for='reg__email'}}
        {{> Input class='input' placeholder='Почта' id='reg__email' name='email'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Логин'  for='reg__login'}}
        {{> Input class='input' placeholder='Логин' id='reg__login' type='text' name='login'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Имя'  for='reg__name'}}
        {{> Input class='input' placeholder='Имя' id='reg__name' type='text' name='first_name'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Фамилия'  for='reg__second_name'}}
        {{> Input class='input' placeholder='Фамилия' id='reg__second_name' type='text' name='second_name'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Телефон'  for='reg__phone'}}
        {{> Input class='input' placeholder='Телефон' id='reg__phone' type='tel' name='phone'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Пароль'  for='reg__password'}}
        {{> Input class='input' placeholder='Пароль' id='reg__password' type='password' name='password'}}
    </div>
    <div class="form-inputGroup">
        {{> Label class='label auth__label' label='Пароль(еще раз)'  for='reg__password-confirm'}}
        {{> Input class='input' placeholder='Пароль(еще раз)' id='reg__password-confirm' type='password' name='password_confirm'}}
    </div>
</div>