<main class="page page404">
    {{>H1 class='page404_header' label='404'}}
    {{>H2 class='page404_2header' label='Не туда попали'}}
    {{>Link href="#" class='page404_link' text='Назад к чатам'}}
</main>
