<div class="navigate">
    <nav class="navigateNav">
    <ul>
        <li>
            {{> Button id='Auth' data-page='Navigate' label='Авторизация'}}
        </li>
        <li>
            {{> Button id='Registration' data-page='Navigate' label='Регистрация'}}
        </li>
        <li>
            {{> Button id='UserSettings' data-page='Navigate' label='Настройки пользоватлея'}}
        </li>
        <li>
            {{> Button id='Chats' data-page='Navigate' label='Чаты'}}
        </li>
        <li>
            {{> Button id='Page404' data-page='Navigate' label='Страница 404'}}
        </li>
        <li>
            {{> Button id='Page500' data-page='Navigate' label='Страница 500'}}
        </li>
    </ul>
</nav>

</div>