<div class="navigate">
    <nav class="navigateNav">
    <ul>
        <li>
            {{> Button class='button_primary' id='Auth' data-page='Navigate' label='Авторизация'}}
        </li>
        <li>
            {{> Button class='button_primary' id='Registration' data-page='Navigate' label='Регистрация'}}
        </li>
        <li>
            {{> Button class='button_primary' id='UserSettings' data-page='Navigate' label='Настройки пользоватлея'}}
        </li>
        <li>
            {{> Button class='button_primary' id='UserChangeData' data-page='Navigate' label='Изменить данные пользователя'}}
        </li>
        <li>
            {{> Button class='button_primary' id='UserChangePassword' data-page='Navigate' label='Изменить пароль пользователя'}}
        </li>
        <li>
            {{> Button class='button_primary' id='Chats' data-page='Navigate' label='Чаты'}}
        </li>
        <li>
            {{> Button class='button_primary' id='Page404' data-page='Navigate' label='Страница 404'}}
        </li>
        <li>
            {{> Button class='button_primary' id='Page500' data-page='Navigate' label='Страница 500'}}
        </li>
    </ul>
</nav>

</div>
