<div class="userChangeData__rows">
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Почта"}}</div>
        {{>Input class="userChangeData__input" placeholder="pochta@yandex.ru" type = 'text' name='email'}}  
    </div>
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Логин"}}</div>
        {{>Input class="userChangeData__input" placeholder="ivanivanov" type = 'text' name='login'}}  
    </div>
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Имя"}}</div>
        {{>Input class="userChangeData__input" placeholder="Иван" type = 'text' name='first_name'}}  
    </div>
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Фамилия"}}</div>
        {{>Input class="userChangeData__input" placeholder="Иванов" type = 'text' name='second_name'}}  
    </div>
    <div class="userSettings__row userSettings__row--bottom">
        <div>{{>Span class="userSettings__label" text="Имя в чате"}}</div>
        {{>Input class="userChangeData__input" placeholder="Иван" type = 'text' name='display_name'}}  
    </div>
    <div class="userSettings__row">
        <div>{{>Span class="userSettings__label" text="Телефон"}}</div>
        {{>Input class="userChangeData__input" placeholder="+7 (909) 967 30 30" type = 'text' name='phone'}}  
    </div>
</div>